<h1 mat-dialog-title>Criar Empresas</h1>
<form (ngSubmit)="createEmpresas()" #formDir="ngForm" [formGroup]="createEmpresasForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input name="EMPRESAS" formControlName="EMPRESAS" matInput required [(ngModel)]="createEmpresasRequest.EMPRESA">
        </mat-form-field>   

        <div mat-raised-action class="float-right">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit">Adicionar</button>
        </div>
    </div>
</form>
