<div id="process-create">
  <form (ngSubmit)="createProcess()" #formDir="ngForm" [formGroup]="createProcessForm">
    <div class="process-create-header">
      <h3>Criação de Processo</h3>
    </div>
    <div class="process-create-body">
      <div class="process-create-processdetails">
        <ul class="process-create-processdetails__list">

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">

                <span class="w-50">
                  <p class="sm-text">Número Processo</p>
                  <input required type="text" name="NUMERO_PROCESSO" formControlName="NUMERO_PROCESSO"
                    [(ngModel)]="createProcessRequest.NUMERO_PROCESSO" class="process-create-processdetails">
                </span>

                <span>
                  <p class="sm-text">Status</p>
                  <select name="STATUS" formControlName="STATUS" id="selectProcessStatus"
                    [(ngModel)]="createProcessRequest.STATUS" class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let status of status" value="{{status.STATUS}}" selected>{{status.STATUS}}</option>
                  </select>
                </span>

              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item mb-2">
            <div class="process-create-processdetails__list__item--div">
              <p class="sm-text">Empresa</p>
              <select name="EMPRESA" formControlName="EMPRESA" [(ngModel)]="createProcessRequest.EMPRESA"
                class="process-searchbar__list__item--input-select">
                <option value="" selected></option>
                <option *ngFor="let empresa of empresas" value="{{empresa.EMPRESA}}" selected>
                  {{empresa.EMPRESA}}
                </option>
              </select>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">

              <p class="sm-text">Patrono responsável</p>

              <select name="PATRONO_RESPONSAVEL" formControlName="PATRONO_RESPONSAVEL"
                [(ngModel)]="createProcessRequest.PATRONO_RESPONSAVEL"
                class="process-create-processdetails--input-select">
                <option value="" selected></option>
                <option *ngFor="let patronoResponsavel of patronoResponsavel"
                  value="{{patronoResponsavel.PATRONO_RESPONSAVEL}}" selected>{{patronoResponsavel.PATRONO_RESPONSAVEL}}
                </option>
              </select>

            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Tipo de Ação</p>
                  <select name="TIPO_DE_ACAO" formControlName="TIPO_DE_ACAO"
                    [(ngModel)]="createProcessRequest.TIPO_DE_ACAO" class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let tipodeAcao of tiposDeAcoes" value="{{tipodeAcao.TIPO_DE_ACAO}}" selected>
                      {{tipodeAcao.TIPO_DE_ACAO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Área do Direito</p>
                  <select name="AREA_DO_DIREITO" formControlName="AREA_DO_DIREITO"
                    [(ngModel)]="createProcessRequest.AREA_DO_DIREITO"
                    class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let areaDoDireito of areasDoDireito" value="{{areaDoDireito.AREA_DO_DIREITO}}"
                      selected>
                      {{areaDoDireito.AREA_DO_DIREITO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Âmbito</p>
                  <select name="AMBITO" formControlName="AMBITO" [(ngModel)]="createProcessRequest.AMBITO"
                    class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let ambito of ambitos" value="{{ambito.AMBITO}}" selected>{{ambito.AMBITO}}</option>
                  </select>
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Vara</p>
                  <select name="VARA" formControlName="VARA" [(ngModel)]="createProcessRequest.VARA"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let vara of varas" value="{{vara.VARA}}" selected>{{vara.VARA}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Foro/Tribunal/Orgão</p>
                  <select name="FORO_TRIBUNAL_ORGAO" formControlName="FORO_TRIBUNAL_ORGAO"
                    [(ngModel)]="createProcessRequest.FORO_TRIBUNAL_ORGAO"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let foroTribunalOrgao of foroTribunalOrgaos"
                      value="{{foroTribunalOrgao.FORO_TRIBUNAL_ORGAO}}" selected>
                      {{foroTribunalOrgao.FORO_TRIBUNAL_ORGAO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Fase do processo</p>
                  <select name="FASE" formControlName="FASE" [(ngModel)]="createProcessRequest.FASE"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let fase of fases" value="{{fase.FASE}}" selected>
                      {{fase.FASE}}</option>
                  </select>
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Estado</p>
                  <select name="ESTADO" class="process-create-processdetails--input-select" formControlName="ESTADO"
                    [(ngModel)]="createProcessRequest.ESTADO" style="width: 200px !important;">
                    <option value="">Selcionar estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </span>

                <span class="mx-1">
                  <p class="sm-text">Cidade</p>
                  <input required type="text" name="CIDADE" formControlName="CIDADE"
                    [(ngModel)]="createProcessRequest.CIDADE" class="process-create-processdetails"
                    style="width: 200px !important;">
                </span>

                <span>
                  <p class="sm-text">Pais</p>
                  <input required type="text" name="PAIS" formControlName="PAIS" [(ngModel)]="createProcessRequest.PAIS"
                    class="process-create-processdetails" style="width: 200px !important;">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row" style="justify-content: flex-start;">
                <span class="mr-1">
                  <p class="sm-text">Data de Distribuição</p>
                  <input required type="date" name="DATA_DISTRIBUICAO" formControlName="DATA_DISTRIBUICAO"
                    [(ngModel)]="createProcessRequest.DATA_DISTRIBUICAO" class="process-create-processdetails">
                </span>

                <span>
                  <p class="sm-text">Data da Citação</p>
                  <input required type="date" name="DATA_CITACAO" formControlName="DATA_CITACAO"
                    [(ngModel)]="createProcessRequest.DATA_CITACAO" class="process-create-processdetails">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">

              <div class="process-create-processdetails__list__item mt-2">
                <p class="sm-text">Valor do Pedido</p>
                <input required name="VALOR_DO_PEDIDO" formControlName="VALOR_DO_PEDIDO" mask="separator.2"
                  thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_DO_PEDIDO"
                  class="process-create-processdetails w-auto">
              </div>

              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Valor 1ª Instância</p>
                  <input required name="VALOR_INSTANCIA1" formControlName="VALOR_INSTANCIA1" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA1"
                    class="process-create-processdetails">
                </span>

                <span class="mx-1">
                  <p class="sm-text">Valor 2ª Instância</p>
                  <input required name="VALOR_INSTANCIA2" formControlName="VALOR_INSTANCIA2" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA2"
                    class="process-create-processdetails">
                </span>

                <span style="margin-right: .25rem;">
                  <p class="sm-text">Valor 3ª Instância</p>
                  <input required name="VALOR_INSTANCIA3" formControlName="VALOR_INSTANCIA3" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA3"
                    class="process-create-processdetails">
                </span>
                <span>
                  <p class="sm-text">Valor Instância Extraordinária</p>
                  <input required name="VALOR_INSTANCIA_EXTRAORDINARIA" mask="separator.2" thousandSeparator="."
                    prefix="R$ " formControlName="VALOR_INSTANCIA_EXTRAORDINARIA"
                    [(ngModel)]="createProcessRequest.VALOR_INSTANCIA_EXTRAORDINARIA"
                    class="process-create-processdetails">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <p class="sm-text">Texto do objeto</p>
            <textarea name="TEXTO_DO_OBJETO" formControlName="TEXTO_DO_OBJETO"
              [(ngModel)]="createProcessRequest.TEXTO_DO_OBJETO" rows="10"
              class="process-create-processdetails w-100"></textarea>
          </li>
        </ul>
      </div>

      <button type="submit" [disabled]="!((createProcessForm.valid))"
        [ngClass]="{'btn-disabled': !((createProcessForm.valid))}" class="btn-default mt-2 float-right">
        Criar processo
      </button>
    </div>
  </form>
</div>