<div id="process-create">
  <form (ngSubmit)="createProcess()" #formDir="ngForm" [formGroup]="createProcessForm">
    <div class="process-create-header">
      <h3>Criação de Processo</h3>
    </div>
    <div class="process-create-body">
      <div class="process-create-processdetails">
        <ul class="process-create-processdetails__list">

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">

                <span class="w-50">
                  <p class="sm-text">Número Processo</p>
                  <input required type="text" name="NUMERO_PROCESSO" formControlName="NUMERO_PROCESSO"
                    [(ngModel)]="createProcessRequest.NUMERO_PROCESSO" class="process-create-processdetails">
                </span>

                <span>
                  <p class="sm-text">Status</p>
                  <select name="STATUS" formControlName="STATUS" id="selectProcessStatus"
                    [(ngModel)]="createProcessRequest.STATUS" class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let status of status" value="{{status.STATUS}}" selected>{{status.STATUS}}</option>
                  </select>
                </span>

              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item mb-2">
            <div class="process-create-processdetails__list__item--div">
              <p class="sm-text">Empresa</p>
              <select name="EMPRESA" formControlName="EMPRESA" [(ngModel)]="createProcessRequest.EMPRESA"
                class="process-searchbar__list__item--input-select">
                <option value="" selected></option>
                <option *ngFor="let empresa of empresas" value="{{empresa.EMPRESA}}" selected>
                  {{empresa.EMPRESA}}
                </option>
              </select>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">

              <p class="sm-text">Patrono responsável</p>

              <select name="PATRONO_RESPONSAVEL" formControlName="PATRONO_RESPONSAVEL"
                [(ngModel)]="createProcessRequest.PATRONO_RESPONSAVEL"
                class="process-create-processdetails--input-select">
                <option value="" selected></option>
                <option *ngFor="let patronoResponsavel of patronoResponsavel"
                  value="{{patronoResponsavel.PATRONO_RESPONSAVEL}}" selected>{{patronoResponsavel.PATRONO_RESPONSAVEL}}
                </option>
              </select>

            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Tipo de Ação</p>
                  <select name="TIPO_DE_ACAO" formControlName="TIPO_DE_ACAO"
                    [(ngModel)]="createProcessRequest.TIPO_DE_ACAO" class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let tipodeAcao of tiposDeAcoes" value="{{tipodeAcao.TIPO_DE_ACAO}}" selected>
                      {{tipodeAcao.TIPO_DE_ACAO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Área do Direito</p>
                  <select name="AREA_DO_DIREITO" formControlName="AREA_DO_DIREITO"
                    [(ngModel)]="createProcessRequest.AREA_DO_DIREITO"
                    class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let areaDoDireito of areasDoDireito" value="{{areaDoDireito.AREA_DO_DIREITO}}"
                      selected>
                      {{areaDoDireito.AREA_DO_DIREITO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Âmbito</p>
                  <select name="AMBITO" formControlName="AMBITO" [(ngModel)]="createProcessRequest.AMBITO"
                    class="process-searchbar__list__item--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let ambito of ambitos" value="{{ambito.AMBITO}}" selected>{{ambito.AMBITO}}</option>
                  </select>
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Vara</p>
                  <select name="VARA" formControlName="VARA" [(ngModel)]="createProcessRequest.VARA"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let vara of varas" value="{{vara.VARA}}" selected>{{vara.VARA}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Foro/Tribunal/Orgão</p>
                  <select name="FORO_TRIBUNAL_ORGAO" formControlName="FORO_TRIBUNAL_ORGAO"
                    [(ngModel)]="createProcessRequest.FORO_TRIBUNAL_ORGAO"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let foroTribunalOrgao of foroTribunalOrgaos"
                      value="{{foroTribunalOrgao.FORO_TRIBUNAL_ORGAO}}" selected>
                      {{foroTribunalOrgao.FORO_TRIBUNAL_ORGAO}}</option>
                  </select>
                </span>

                <span>
                  <p class="sm-text">Fase do processo</p>
                  <select name="FASE" formControlName="FASE" [(ngModel)]="createProcessRequest.FASE"
                    class="process-create-processdetails--input-select">
                    <option value="" selected></option>
                    <option *ngFor="let fase of fases" value="{{fase.FASE}}" selected>
                      {{fase.FASE}}</option>
                  </select>
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Estado</p>
                  <select name="ESTADO" class="process-create-processdetails--input-select" formControlName="ESTADO"
                    [(ngModel)]="createProcessRequest.ESTADO" style="width: 200px !important;">
                    <option value="">Selcionar estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </span>

                <span class="mx-1">
                  <p class="sm-text">Cidade</p>
                  <input required type="text" name="CIDADE" formControlName="CIDADE"
                    [(ngModel)]="createProcessRequest.CIDADE" class="process-create-processdetails"
                    style="width: 200px !important;">
                </span>

                <span>
                  <p class="sm-text">Pais</p>
                  <input required type="text" name="PAIS" formControlName="PAIS" [(ngModel)]="createProcessRequest.PAIS"
                    class="process-create-processdetails" style="width: 200px !important;">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">
              <div class="process-create-processdetails__list__item--row" style="justify-content: flex-start;">
                <span class="mr-1">
                  <p class="sm-text">Data de Distribuição</p>
                  <input required type="date" name="DATA_DISTRIBUICAO" formControlName="DATA_DISTRIBUICAO"
                    [(ngModel)]="createProcessRequest.DATA_DISTRIBUICAO" class="process-create-processdetails">
                </span>

                <span>
                  <p class="sm-text">Data da Citação</p>
                  <input required type="date" name="DATA_CITACAO" formControlName="DATA_CITACAO"
                    [(ngModel)]="createProcessRequest.DATA_CITACAO" class="process-create-processdetails">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <div class="process-create-processdetails__list__item--div">

              <div class="process-create-processdetails__list__item mt-2">
                <p class="sm-text">Valor do Pedido</p>
                <input required name="VALOR_DO_PEDIDO" formControlName="VALOR_DO_PEDIDO" mask="separator.2"
                  thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_DO_PEDIDO"
                  class="process-create-processdetails w-auto">
              </div>

              <div class="process-create-processdetails__list__item--row">
                <span>
                  <p class="sm-text">Valor 1ª Instância</p>
                  <input required name="VALOR_INSTANCIA1" formControlName="VALOR_INSTANCIA1" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA1"
                    class="process-create-processdetails">
                </span>

                <span class="mx-1">
                  <p class="sm-text">Valor 2ª Instância</p>
                  <input required name="VALOR_INSTANCIA2" formControlName="VALOR_INSTANCIA2" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA2"
                    class="process-create-processdetails">
                </span>

                <span style="margin-right: .25rem;">
                  <p class="sm-text">Valor 3ª Instância</p>
                  <input required name="VALOR_INSTANCIA3" formControlName="VALOR_INSTANCIA3" mask="separator.2"
                    thousandSeparator="." prefix="R$ " [(ngModel)]="createProcessRequest.VALOR_INSTANCIA3"
                    class="process-create-processdetails">
                </span>
                <span>
                  <p class="sm-text">Valor Instância Extraordinária</p>
                  <input required name="VALOR_INSTANCIA_EXTRAORDINARIA" mask="separator.2" thousandSeparator="."
                    prefix="R$ " formControlName="VALOR_INSTANCIA_EXTRAORDINARIA"
                    [(ngModel)]="createProcessRequest.VALOR_INSTANCIA_EXTRAORDINARIA"
                    class="process-create-processdetails">
                </span>
              </div>
            </div>
          </li>

          <li class="process-create-processdetails__list__item">
            <p class="sm-text">Texto do objeto</p>
            <textarea name="TEXTO_DO_OBJETO" formControlName="TEXTO_DO_OBJETO"
              [(ngModel)]="createProcessRequest.TEXTO_DO_OBJETO" rows="10"
              class="process-create-processdetails w-100"></textarea>
          </li>
        </ul>
      </div>
      <div class="process-create-opposingparty mt-3">
        <h3>Parte Contrária</h3>
        <ul class="process-create-opposingparty__list" class="mt-2">
          <li class="process-create-opposingparty__list__item mb-2">
            <div class="process-create-opposingparty__list__item--div">
              <p class="sm-text">Relação jurídica</p>
            </div>
            <div class="process-create-opposingparty__list__item--div">
              <select name="EMPRESA" class="process-create-processdetails--input-select">
                <option value="0" (click)="swapTabs('fisical-person')">Fornecedor / Ex-fornecedor / Cliente / Ex-cliente
                </option>
                <option value="1" (click)="swapTabs('legal-person')">Funcionário / Ex-funcionário</option>
              </select>
            </div>
          </li>

          <ng-container [ngSwitch]="componentName">
            <ng-template ngSwitchDefault="'fisical-person'">
              <form #formDir="ngForm" [formGroup]="createParteContrariaFisicalForm"
                style="width: auto !important; box-shadow: none; padding: unset;">

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="justify-content-start align-items-end process-create-processdetails__list__item--row">
                      <span class="w-30 d-block mr-1">
                        <p class="sm-text">CPF</p>
                        <input type="text" mask="000.000.000-00" placeholder="000.000.000-00" matInput
                          [(ngModel)]="createParteContrariaRequest.CPF" name="CPF" formControlName="CPF">
                      </span>
                      <span>
                        <button type="submit" (click)="searchFisicalPerson()"
                          [disabled]="!createParteContrariaFisicalForm.get('CPF')?.valid"
                          [ngClass]="{'btn-disabled': !createParteContrariaFisicalForm.get('CPF')?.valid}"
                          class="btn-default" style="height: 35px;">
                          <svg class="svg-fill-bk"
                            [ngClass]="{'svg-fill-wh': createParteContrariaFisicalForm.get('CPF')?.valid}"
                            xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8
                             0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 
                             322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144
                              144 0 1 0 0 288z" />
                          </svg>
                        </button>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row">
                      <span class="w-100 mr-2">
                        <p class="sm-text">Nome</p>
                        <input name="NOME" formControlName="NOME" matInput
                          [(ngModel)]="createParteContrariaRequest.NOME">
                      </span>

                      <span>
                        <p class="sm-text">RG</p>
                        <input type="text" mask="00.000.000-0" placeholder="00.000.000-0" matInput
                          [(ngModel)]="createParteContrariaRequest.RG" name="RG" formControlName="RG">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <span class="w-50 d-block">
                      <p class="sm-text">CEP</p>
                      <input name="CEP" mask="0000-000" placeholder="0000-000" formControlName="CEP" matInput
                        [(ngModel)]="createParteContrariaRequest.CEP">
                    </span>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row">
                      <span class="w-100 mr-2">
                        <p class="sm-text">Enderço</p>
                        <input name="ENDERECO" formControlName="ENDERECO" matInput
                          [(ngModel)]="createParteContrariaRequest.ENDERECO">
                      </span>
                      <span>
                        <p class="sm-text">Número</p>
                        <input name="NUMERO" formControlName="NUMERO" matInput
                          [(ngModel)]="createParteContrariaRequest.NUMERO">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <span>
                      <p class="sm-text">Complemento</p>
                      <input name="COMPLEMENTO" formControlName="COMPLEMENTO" matInput
                        [(ngModel)]="createParteContrariaRequest.COMPLEMENTO">
                    </span>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row justify-content-start">
                      <span class="w-50 mr-2">
                        <p class="sm-text">Cargo</p>
                        <input name="CARGO" formControlName="CARGO" matInput
                          [(ngModel)]="createParteContrariaRequest.CARGO">
                      </span>

                      <span>
                        <p class="sm-text">Ultimo salário</p>
                        <input name="ULTIMO_SALARIO" formControlName="ULTIMO_SALARIO" matInput mask="separator.2"
                          thousandSeparator="." [(ngModel)]="createParteContrariaRequest.ULTIMO_SALARIO">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row justify-content-start">
                      <span class="mr-2">
                        <p class="sm-text">Data admissão</p>
                        <input name="DATA_ADMISSAO" type="date" formControlName="DATA_ADMISSAO" matInput
                          [(ngModel)]="createParteContrariaRequest.DATA_ADMISSAO">
                      </span>

                      <span>
                        <p class="sm-text">Data admissão</p>
                        <input name="DATA_ADMISSAO" type="date" formControlName="DATA_DEMISSAO" matInput
                          [(ngModel)]="createParteContrariaRequest.DATA_DEMISSAO">
                      </span>
                    </div>
                  </div>
                </li>
              </form>
            </ng-template>

            <ng-template [ngSwitchCase]="'legal-person'">
              <form #formDir="ngForm" [formGroup]="createParteContrariaLegalForm"
                style="width: auto !important; box-shadow: none; padding: unset;">

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="justify-content-start align-items-end process-create-processdetails__list__item--row">
                      <span class="w-0 d-block mr-1">
                        <p class="sm-text">CNPJ</p>
                        <input type="text" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" matInput
                          [(ngModel)]="createParteContrariaRequest.CNPJ" name="CNPJ" formControlName="CNPJ">
                      </span>

                      <span>
                        <button type="submit" (click)="searchLegalPerson()"
                          [disabled]="!createParteContrariaLegalForm.get('CNPJ')?.valid"
                          [ngClass]="{'btn-disabled': !createParteContrariaLegalForm.get('CNPJ')?.valid}"
                          class="btn-default" style="height: 35px;">

                          <svg class="svg-fill-bk"
                            [ngClass]="{'svg-fill-wh': createParteContrariaLegalForm.get('CNPJ')?.valid}"
                            xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8
                             0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 
                             322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144
                              144 0 1 0 0 288z" />
                          </svg>
                        </button>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row">
                      <span class="w-100 mr-1">
                        <p class="sm-text">Nome</p>
                        <input name="NOME" formControlName="NOME" matInput
                          [(ngModel)]="createParteContrariaRequest.NOME">
                      </span>

                      <span class="w-100 ml-1">
                        <p class="sm-text">Nome Fantasia</p>
                        <input type="text" matInput [(ngModel)]="createParteContrariaRequest.NOME_FANTASIA"
                          name="NOME_FANTASIA" formControlName="NOME_FANTASIA">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <span class="w-50 d-block">
                      <p class="sm-text">CEP</p>
                      <input name="CEP" mask="0000-000" placeholder="0000-000" formControlName="CEP" matInput
                        [(ngModel)]="createParteContrariaRequest.CEP">
                    </span>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row">
                      <span class="w-100 mr-2">
                        <p class="sm-text">Enderço</p>
                        <input name="ENDERECO" formControlName="ENDERECO" matInput
                          [(ngModel)]="createParteContrariaRequest.ENDERECO">
                      </span>
                      <span>
                        <p class="sm-text">Número</p>
                        <input name="NUMERO" formControlName="NUMERO" matInput
                          [(ngModel)]="createParteContrariaRequest.NUMERO">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <span>
                      <p class="sm-text">Complemento</p>
                      <input name="COMPLEMENTO" formControlName="COMPLEMENTO" matInput
                        [(ngModel)]="createParteContrariaRequest.COMPLEMENTO">
                    </span>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <div class="process-create-processdetails__list__item--row">
                      <span>
                        <p class="sm-text">Estado</p>
                        <select name="ESTADO" class="process-create-processdetails--input-select"
                          formControlName="ESTADO" matInput [(ngModel)]="createParteContrariaRequest.ESTADO"
                          style="width: 200px !important;">
                          <option value="">Selcionar estado</option>
                          <option value="AC">Acre</option>
                          <option value="AL">Alagoas</option>
                          <option value="AP">Amapá</option>
                          <option value="AM">Amazonas</option>
                          <option value="BA">Bahia</option>
                          <option value="CE">Ceará</option>
                          <option value="DF">Distrito Federal</option>
                          <option value="ES">Espírito Santo</option>
                          <option value="GO">Goiás</option>
                          <option value="MA">Maranhão</option>
                          <option value="MT">Mato Grosso</option>
                          <option value="MS">Mato Grosso do Sul</option>
                          <option value="MG">Minas Gerais</option>
                          <option value="PA">Pará</option>
                          <option value="PB">Paraíba</option>
                          <option value="PR">Paraná</option>
                          <option value="PE">Pernambuco</option>
                          <option value="PI">Piauí</option>
                          <option value="RJ">Rio de Janeiro</option>
                          <option value="RN">Rio Grande do Norte</option>
                          <option value="RS">Rio Grande do Sul</option>
                          <option value="RO">Rondônia</option>
                          <option value="RR">Roraima</option>
                          <option value="SC">Santa Catarina</option>
                          <option value="SP">São Paulo</option>
                          <option value="SE">Sergipe</option>
                          <option value="TO">Tocantins</option>
                        </select>
                      </span>

                      <span>
                        <p class="sm-text">Cidade</p>
                        <input name="CIDADE" formControlName="CIDADE" matInput
                          [(ngModel)]="createParteContrariaRequest.CIDADE" style="width: 200px !important;">
                      </span>

                      <span>
                        <p class="sm-text">Pais</p>
                        <input name="PAIS" formControlName="PAIS" matInput
                          [(ngModel)]="createParteContrariaRequest.PAIS" style="width: 200px !important;">
                      </span>
                    </div>
                  </div>
                </li>

                <li class="process-create-processdetails__list__item">
                  <div class="process-create-processdetails__list__item--div">
                    <p class="sm-text">Observação</p>
                    <textarea name="OBSERVACAO" matInput formControlName="OBSERVACAO"
                      [(ngModel)]="createParteContrariaRequest.OBSERVACAO" rows="10"
                      class="process-create-processdetails w-100"></textarea>
                  </div>
                </li>
              </form>
            </ng-template>
          </ng-container>
        </ul>
      </div>
      <button type="submit"
        [disabled]="!((createProcessForm.valid && createParteContrariaFisicalForm.valid) || (createProcessForm.valid && createParteContrariaLegalForm.valid))"
        [ngClass]="{'btn-disabled': !((createProcessForm.valid && createParteContrariaFisicalForm.valid) || (createProcessForm.valid && createParteContrariaLegalForm.valid))}"
        class="btn-default mt-2 float-right">
        Criar processo
      </button>
    </div>
  </form>
</div>