<div id="process-create">
  <div class="process-create-header">
    <h3>Crição de Processo</h3>
    <button type="button" class="active" (click)="swapTabs('processdetails')">Processo</button>
    <button type="button" (click)="swapTabs('opposingparty')">Parte Contraria</button>
    <button type="button" (click)="swapTabs('agreement')">Acordo</button>
    <button type="button" (click)="swapTabs('progress')">Andamento</button>
  </div>
  <div class="process-create-body">
    <ng-container [ngSwitch]="componentName">
      <app-process-create-processdetails *ngSwitchDefault="'processdetails'"></app-process-create-processdetails>
      <app-process-create-opposingparty *ngSwitchCase="'opposingparty'"></app-process-create-opposingparty>
      <app-process-create-agreement *ngSwitchCase="'agreement'"></app-process-create-agreement>
      <app-process-create-progress *ngSwitchCase="'progress'"></app-process-create-progress>
    </ng-container>
  </div>
</div>