@import '../../../../styles.scss';

#process-create {
  width: 850px;
  height: auto;

  .process-create-header {
    height: 50px;

    .active {
      background-color: #838688c2 !important;
    }

    button {
      width: 125px;
      height: 30px;
      padding: 5px;
      background-color: #f6f8fac2;

      &:nth-child(2) {
        border-radius: 5px 0px 0px 0px;
      }

      &:nth-child(5) {
        border-radius: 0px 5px 0px 0px;
      }
    }
  }

  .process-create-body {
    padding: 5px;
    margin-top: 15px;
    border-top: 1px solid #f6f8fac2;
  }
}

div[class*="--div"] {
  div[class*="--row"] {
    margin: 10px 0px;
    @include flexCenter(center, space-between, row);

    span {
      // width: 100% !important;

      // &:nth-child(odd) {
      //   margin-right: 10px;
      // }

      input {
        width: 100%;
      }
    }

  }
}