@import '../../../../styles.scss';

#process-container {
  gap: 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));

  .process {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: min-content;
    min-height: 335px;
    transition: box-shadow ease-in 250ms;
    border: 1px solid rgba(60, 64, 67, 0.163);
    @include flexCenter(unset, space-between, column);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.020), 0 2px 6px 2px rgba(60, 64, 67, 0.020);

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.100), 0 2px 6px 2px rgba(60, 64, 67, 0.100);
    }

    .process-header,
    .process-body {
      padding: 15px 15px 0 15px;
    }

    .process-header {
      .process-header__list {
        @include flexCenter(center, space-between, row);

        .process-header__list__item-process-number {
          font-size: 1.2rem;
        }

        .process-header__list__item-process-status {
          padding: 4px;
          color: #fff;
          font-weight: 700;
          font-size: 0.72rem;
        }

        .status-ativo,
        .status-encerrado,
        .status-baixa-provisória {
          border-radius: 2px;
        }

        .status-ativo {
          background-color: #32b332;
          box-shadow:
            0 1px 1px 0 #32b3323c,
            0 1px 6px 1px #32b33220;
        }

        .status-baixa-provisória {
          background-color: #dfdc2c;
          box-shadow:
            0 1px 1px 0 #dfdc2c49,
            0 1px 6px 1px #dfdc2c21;
        }

        .status-encerrado {
          background-color: #df2c3e;
          box-shadow:
            0 1px 1px 0 #df2c3e5a,
            0 1px 6px 1px #df2c3e43;
        }


      }
    }

    .process-body {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: unset !important;

      .process-body__list__item {
        padding-bottom: 5px;

        p:not(.process-body__company-name, .process-body__opposingparty-name) {
          margin-bottom: 8px;
        }

        &:nth-child(2) {
          @include flexCenter(center, space-between, row)
        }
      }
    }

    .process-footer {
      height: 35px;

      .process-footer--button {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        color: #5e636a;
        background-color: #f6f7fb;
        border-top: 1px solid rgba(60, 64, 67, 0.163);

        // transition: background-color ease-in 250ms;

        // &:hover {
        //   background-color: rgba(60, 64, 67, 0.090);
        // }
      }
    }

  }
}