<div id="process-container">
  <div routerLink="/process" class="process">
    <div class="process-header">
      <ul class="process-header__list">
        <li class="process-header__list__item-process-number"># 203165789</li>
        <li class="process-header__list__item-process-status status-ongoin">Em Progresso</li>
      </ul>
    </div>

    <div class="process-body">
      <ul class="process-body__list">
        <li class="process-body__list__item">
          <span class="sm-text">Área</span>
          <p class="process-body__law-area">Trabalhista</p>
          <span class="sm-text">Âmbito</span>
          <p class="process-body__law-scope">Direito Individual do Trabalho</p>
          <span class="sm-text">Tipo de ação</span>
          <p class="process-body__law-toa">Pagamento de horas extraordinárias</p>
        </li>

        <li class="process-body__list__item">
          <p class="process-body__company-name">On On Bike Rocha Campos</p>
          <p class="process-body__company-cnpj sm-text">00.000.000/0000-00</p>
          <span class="sm-text">Estado</span>
          <p class="process-body__company-state">São Paulo</p>
        </li>
      </ul>
    </div>

    <div class="process-footer">
      <ul class="process-footer__list">
        <li class="process-footer__list__item-date-ongoin">
          <span class="sm-text">Abertura</span>
          01/04/2023
        </li>
        <li class="process-footer__list__item-date-last-moviment">
          <span class="sm-text">Ult. Andamento</span>
          03/04/2023
        </li>
        <li class="process-footer__list__item-date-closed">
          <span class="sm-text">Finalização</span>
          --/--/----
        </li>
      </ul>
    </div>
  </div>

  <div class="process-footer">
    <ul class="process-footer__list">
      <li class="process-footer__list__item-date-ongoin">
        <span class="sm-text">Abertura</span>
        01/04/2023
      </li>
      <li class="process-footer__list__item-date-last-moviment">
        <span class="sm-text">Ult. Andamento</span>
        03/04/2023
      </li>
      <li class="process-footer__list__item-date-closed">
        <span class="sm-text">Finalização</span>
        25/04/2023
      </li>
    </ul>
  </div>
</div>