<div id="process-container" *ngIf="processos && processos.length > 0">

  <div class="process" *ngFor="let processo of processos">
    <div class="process-header">
      <ul class="process-header__list">
        <li class="process-header__list__item-process-number">
          {{processo.NUMERO_PROCESSO}}
        </li>
        <li
          class="process-header__list__item-process-status status-{{processo.STATUS.replaceAll(' ', '-').toLowerCase()}}">
          {{processo.STATUS}}
        </li>
      </ul>
    </div>

    <div class="process-body">
      <ul class="process-body__list">
        <li class="process-body__list__item">
          <span class="sm-text">Empresa</span>
          <p class="process-body__company-name">
            {{processo.EMPRESA}}
          </p>
          <p class="process-body__company-cnpj sm-text">
            {{processo.EMPRESA_CNPJ}}
          </p>
        </li>

        <li class="process-body__list__item">
          <div>
            <span class="sm-text">Área</span>
            <p class="process-body__law-area">
              {{processo.AREA_DO_DIREITO}}
            </p>
          </div>
          <div>
            <span class="sm-text">Tipo de ação</span>
            <p class="process-body__law-toa">
              {{processo.TIPO_DE_ACAO}}
            </p>
          </div>
        </li>

        <li class="process-body__list__item">
          <span class="sm-text">Parte Contrária</span>
          <p class="process-body__opposingparty-name">
            {{processo.PARTE_CONTRARIA_NOME}}
          </p>
          <p class="process-body__opposingparty-cnpj sm-text">
            {{processo.PARTE_CONTRARIA_CNPJ}}
          </p>
        </li>

        <li class="process-body__list__item">
          <span class="sm-text">Fase</span>
          <p class="process-body__phase">
            {{processo.FASE}}
          </p>
          <span class="sm-text">Ult. Andamento</span>
          <p class="process-footer__list__item-date-last-moviment">
            {{processo.DATA_ULTIMO_ANDAMENTO.toString().replaceAll("-", "/").slice(0, 19).replace("T", " ").slice(0,
            10).replaceAll("-","/").split('/').reverse().join('/')}}
          </p>
        </li>
      </ul>
    </div>

    <div class="process-footer">
      <button [routerLink]="['/painel-processos', 'processo-detalhes', processo.ID_PROCESSO]"
        class="process-footer--button">Área do Processo</button>
    </div>
  </div>

</div>
<p *ngIf="!processos || processos.length <= 0">Nenhum processo encontrado</p>