<div class="process-create-progress">
  <input type="text" placeholder="Tipo de andamento" class="process-create-progress__input">
  <input type="text" placeholder="Andamento" class="process-create-progress__input">
  <input type="text" placeholder="Responsável pelo cadastro" class="process-create-progress__input">
  <input type="text" placeholder="Data do Andamento" class="process-create-progress__input">
  <input type="text" placeholder="Data de cadastro" class="process-create-progress__input">
  <input type="text" placeholder="Espaço para anexo" class="process-create-progress__input">
</div>