<div class="process-create-processdetails">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Patrono</th>
                <th scope="col">Data/Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patronoAnterior of patronosAlteriores">
                <td>{{patronoAnterior.PATRONO_RESPONSAVEL_ANTERIOR}}</td>
                <td>{{patronoAnterior.DATA_ALTERACAO.replaceAll("T", " ás ")}}</td>
            </tr>
        </tbody>
    </table>
</div>