<div class="process-create-processdetails">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Patrono</th>
                <th scope="col">Data/Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Recebimento de Citação</td>
                <td>20/05/2023</td>
            </tr>
            <tr>
                <td>Recebimento de Citação</td>
                <td>20/05/2023</td>
            </tr>
            <tr>
                <td>Recebimento de Citação</td>
                <td>20/05/2023</td>
            </tr>
        </tbody>
    </table>
</div>