<header id="header">
  <nav class="header__navbar">
    <ul class="header__navbar__list">
      <li class="header__navbar__item"> <img src="" alt="Sistema Jurídico Logo"> </li>
    </ul>

    <ul class="header__navbar__list">
      <li class="header__navbar__item-user-name">Olá, <!--{{Usuário}} --></li>
      <!-- <button (click)="openModal('modal')" class="header__navbar__item-btn-create-process">Criar processo</button> -->
      <button routerLink="/criar-processo" class="header__navbar__item btn-default">Criar processo</button>
    </ul>
  </nav>
</header>