@import '../../../styles.scss';

#header {
  // height: 75px;
  background-color: #292929;

  .header__navbar {
    height: 100%;
    padding: 20px;
    // margin-bottom: 1rem;
    color: #fff;
    @include flexCenter(center, space-between, row);

    .header__navbar__list:last-child {
      @include flexCenter(center, space-between, row);

      .header__navbar__item-user-name {
        margin-right: 15px;
      }

    }

  }
}