<div class="process-create-processdetails">
  <ul class="process-create-processdetails__list">
    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span class="w-50">
            <p class="sm-text">Número Processo</p>
            <!-- <input type="text" disabled [(ngModel)]="processoDetalhes.NUMERO_PROCESSO" name="NUMERO_PROCESSO"> -->
            <p class="input">{{processoDetalhes.NUMERO_PROCESSO}}</p>
          </span>

          <span>
            <p class="sm-text">Status</p>
            <p class="input">{{processoDetalhes.STATUS}}</p>
          </span>
        </div>
      </div>

    </li>

    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Empresa</p>
      <p class="input">{{processoDetalhes.EMPRESA}}</p>
    </li>

    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Patrono responsável</p>
      <p class="input">{{processoDetalhes.PATRONO_RESPONSAVEL}}</p>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Tipo de Ação</p>
            <p class="input">{{processoDetalhes.TIPO_DE_ACAO}}</p>
          </span>

          <span>
            <p class="sm-text">Área do Direito</p>
            <p class="input">{{processoDetalhes.AREA_DO_DIREITO}}</p>
          </span>

          <span>
            <p class="sm-text">Âmbito</p>
            <p class="input">{{processoDetalhes.AMBITO}}</p>
          </span>

        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Vara</p>
            <p class="input">{{processoDetalhes.VARA}}</p>
          </span>

          <span>
            <p class="sm-text">Foro/Tribunal/Orgão</p>
            <p class="input">{{processoDetalhes.FORO_TRIBUNAL_ORGAO}}</p>
          </span>

          <span>
            <p class="sm-text">Fase do processo</p>
            <p class="input">{{processoDetalhes.FASE}}</p>
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Estado</p>
            <p class="input">{{processoDetalhes.ESTADO}}</p>
          </span>

          <span class="mx-1">
            <p class="sm-text">Cidade</p>
            <p class="input">{{processoDetalhes.CIDADE}}</p>
          </span>

          <span>
            <p class="sm-text">Pais</p>
            <p class="input">{{processoDetalhes.PAIS}}</p>
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">

        <p class="sm-text">Valor do Pedido</p>
        <p class="input">
          {{
          processoDetalhes.VALOR_DO_PEDIDO
          .toString()
          .replace('.',',')
          |
          mask: 'separator.2': {thousandSeparator: '.',prefix: 'R$ '}
          }}<span *ngIf="!processoDetalhes.VALOR_DO_PEDIDO.toString().includes('.')">,00</span>
        </p>

        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Valor 1ª Instância</p>
            <p class="input">{{processoDetalhes.VALOR_INSTANCIA1}}</p>
          </span>

          <span>
            <p class="sm-text">Valor 2ª Instância</p>
            <p class="input">{{processoDetalhes.VALOR_INSTANCIA2}}</p>
          </span>

          <span>
            <p class="sm-text">Valor 3ª Instância</p>
            <p class="input">{{processoDetalhes.VALOR_INSTANCIA3}}</p>
          </span>
          <span>
            <p class="sm-text">Valor Instância Extraordinária</p>
            <p class="input">{{processoDetalhes.VALOR_INSTANCIA_EXTRAORDINARIA}}</p>
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">

      <p class="sm-text">Texto do objeto</p>
      <textarea disabled name="TEXTO_DO_OBJETO" [(ngModel)]="processoDetalhes.TEXTO_DO_OBJETO" rows="10"
        class="process-create-processdetails w-100 mb-3"></textarea>
    </li>


    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Data de Distribuição</p>
            <!-- processoDetalhes.DATA_DISTRIBUICAO.toString().split('/').reverse().join('/') -->
            <!-- .slice(0, 10).replaceAll("-","/").split('/').reverse().join('/') -->
            <input type="date" disabled name="DATA_DISTRIBUICAO"
              value="{{processoDetalhes.DATA_DISTRIBUICAO.toString().slice(0,10)}}"
              class="process-create-processdetails">

            <!-- replaceAll("-", "/").slice(0, 19).replace("T", " ").slice(0, 10).replaceAll("-","/").split('/').reverse().join('/')  -->
          </span>

          <span>
            <p class="sm-text">Data da Citação</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_CITACAO.toString().slice(0,10)}}" class="process-create-processdetails">
          </span>

          <span>
            <p class="sm-text">Data da Ultimo Andamento</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_ULTIMO_ANDAMENTO.toString().slice(0,10)}}"
              class="process-create-processdetails">
          </span>

          <span>
            <p class="sm-text">Data da Cadastro</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_CADASTRO_PROCESSO.toString().slice(0,10)}}"
              class="process-create-processdetails">
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>