<div class="process-create-processdetails">
  <ul class="process-create-processdetails__list">
    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Número Processo</p>
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <input type="text" disabled [(ngModel)]="processoDetalhes.NUMERO_PROCESSO" name="NUMERO_PROCESSO">

          <span>
            <p class="sm-text">Status</p>
            <select disabled name="STATUS" id="selectProcessStatus" [(ngModel)]="processoDetalhes.STATUS"
              class="process-searchbar__list__item--input-select">
              <option ngValue="{{processoDetalhes.STATUS}}" selected>{{processoDetalhes.STATUS}}</option>
            </select>
          </span>
        </div>
      </div>

    </li>

    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Empresa</p>
      <select disabled name="EMPRESA" [(ngModel)]="processoDetalhes.EMPRESA"
        class="process-create-processdetails--input-select">
        <option ngValue="{{processoDetalhes.EMPRESA}}" selected>
          {{processoDetalhes.EMPRESA}}</option>
      </select>
    </li>

    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Patrono responsável</p>
      <select disabled name="PATRONO_RESPONSAVEL" [(ngModel)]="processoDetalhes.PATRONO_RESPONSAVEL"
        class="process-create-processdetails--input-select">
        <option ngValue="{{processoDetalhes.PATRONO_RESPONSAVEL}}" selected>
          {{processoDetalhes.PATRONO_RESPONSAVEL}}</option>
      </select>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Tipo de Ação</p>
            <select disabled name="TIPO_DE_ACAO" id="selectProcessTOA" [(ngModel)]="processoDetalhes.TIPO_DE_ACAO"
              class="process-searchbar__list__item--input-select">
              <option ngValue="{{processoDetalhes.TIPO_DE_ACAO}}">{{processoDetalhes.TIPO_DE_ACAO}}</option>
            </select>
          </span>

          <span>
            <p class="sm-text">Área do Direito</p>
            <select disabled name="AREA_DO_DIREITO" id="selectProcessArea"
              [(ngModel)]="processoDetalhes.AREA_DO_DIREITO" class="process-searchbar__list__item--input-select">
              <option ngValue="{{processoDetalhes.AREA_DO_DIREITO}}" selected>{{processoDetalhes.AREA_DO_DIREITO}}
              </option>
            </select>
          </span>

          <span>
            <p class="sm-text">Âmbito</p>
            <p class="process-create-processdetails">{{processoDetalhes.AMBITO}}</p>
            <select disabled name="AMBITO" id="selectProcessPhase" [(ngModel)]="processoDetalhes.AMBITO"
              class="process-searchbar__list__item--input-select">
              <option ngValue="{{processoDetalhes.AMBITO}}" selected>{{processoDetalhes.AMBITO}}</option>
            </select>
          </span>

        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Vara</p>
            <select disabled name="VARA" [(ngModel)]="processoDetalhes.VARA"
              class="process-create-processdetails--input-select">
              <option ngValue="{{processoDetalhes.VARA}}" selected>{{processoDetalhes.VARA}}</option>
            </select>
          </span>

          <span>
            <p class="sm-text">Foro/Tribunal/Orgão</p>
            <select disabled name="FORO_TRIBUNAL_ORGAO" [(ngModel)]="processoDetalhes.FORO_TRIBUNAL_ORGAO"
              class="process-create-processdetails--input-select">
              <option ngValue="{{processoDetalhes.FORO_TRIBUNAL_ORGAO}}" selected>
                {{processoDetalhes.FORO_TRIBUNAL_ORGAO}}</option>
            </select>
          </span>

          <span>
            <p class="sm-text">Fase do processo</p>
            <select disabled name="FASE" [(ngModel)]="processoDetalhes.FASE"
              class="process-create-processdetails--input-select">
              <option ngValue="{{processoDetalhes.FASE}}" selected>{{processoDetalhes.FASE}}</option>
            </select>
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Estado</p>
            <input type="text" disabled name="PROCESSO_ESTADO" [(ngModel)]="processoDetalhes.PROCESSO_ESTADO"
              class="process-create-processdetails">
          </span>

          <span class="mx-1">
            <p class="sm-text">Cidade</p>
            <input type="text" disabled name="PROCESSO_CIDADE" [(ngModel)]="processoDetalhes.PROCESSO_CIDADE"
              class="process-create-processdetails">
          </span>

          <span>
            <p class="sm-text">Pais</p>
            <input type="text" disabled name="PROCESSO_PAIS" [(ngModel)]="processoDetalhes.PROCESSO_PAIS"
              class="process-create-processdetails">
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">

        <p class="sm-text">Valor do Pedido</p>
        <input type="number" disabled name="VALOR_DO_PEDIDO" [(ngModel)]="processoDetalhes.VALOR_DO_PEDIDO"
          class="process-create-processdetails" style="width: 200px !important;">


        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Valor 1ª Instância</p>
            <input type="number" disabled name="VALOR_INSTANCIA1" [(ngModel)]="processoDetalhes.VALOR_INSTANCIA1"
              class="process-create-processdetails">
          </span>

          <span class="mx-1">
            <p class="sm-text">Valor 2ª Instância</p>
            <input type="number" disabled name="VALOR_INSTANCIA2" [(ngModel)]="processoDetalhes.VALOR_INSTANCIA2"
              class="process-create-processdetails">
          </span>

          <span style="margin-right: .25rem;">
            <p class="sm-text">Valor 3ª Instância</p>
            <input type="number" disabled name="VALOR_INSTANCIA3" [(ngModel)]="processoDetalhes.VALOR_INSTANCIA3"
              class="process-create-processdetails">
          </span>
          <span>
            <p class="sm-text">Valor Instância Extraordinária</p>
            <input type="number" disabled name="VALOR_INSTANCIA_EXTRAORDINARIA"
              [(ngModel)]="processoDetalhes.VALOR_INSTANCIA_EXTRAORDINARIA" class="process-create-processdetails">
          </span>
        </div>
      </div>
    </li>

    <li class="process-create-processdetails__list__item">

      <p class="sm-text">Texto do objeto</p>
      <textarea disabled name="TEXTO_DO_OBJETO" [(ngModel)]="processoDetalhes.TEXTO_DO_OBJETO" rows="10"
        class="process-create-processdetails w-100 mb-3"></textarea>
    </li>


    <li class="process-create-processdetails__list__item">
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Data de Distribuição</p>
            <!-- processoDetalhes.DATA_DISTRIBUICAO.toString().split('/').reverse().join('/') -->
            <!-- .slice(0, 10).replaceAll("-","/").split('/').reverse().join('/') -->
            <input type="date" disabled name="DATA_DISTRIBUICAO"
              value="{{processoDetalhes.DATA_DISTRIBUICAO.toString().slice(0,10)}}"
              class="process-create-processdetails">

            <!-- replaceAll("-", "/").slice(0, 19).replace("T", " ").slice(0, 10).replaceAll("-","/").split('/').reverse().join('/')  -->
          </span>

          <span>
            <p class="sm-text">Data da Citação</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_CITACAO.toString().slice(0,10)}}" class="process-create-processdetails">
          </span>

          <span>
            <p class="sm-text">Data da Ultimo Andamento</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_ULTIMO_ANDAMENTO.toString().slice(0,10)}}"
              class="process-create-processdetails">
          </span>

          <span>
            <p class="sm-text">Data da Cadastro</p>
            <input type="date" disabled name="DATA_CITACAO"
              value="{{processoDetalhes.DATA_CADASTRO_PROCESSO.toString().slice(0,10)}}"
              class="process-create-processdetails">
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>