<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">Protocol</th> -->
      <th scope="col">Valor Acordo</th>
      <th scope="col">Data/Hora</th>
      <th scope="col">Aberto por</th>
      <!-- <th scope="col">Condições da tentativa de acordo</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <td>46058</td> -->
      <td>20.0000,00</td>
      <td>20/05/2023</td>
      <td>Nigela Santos</td>
    </tr>
    <tr>
      <!-- <td>46058</td> -->
      <td>20.0000,00</td>
      <td>20/05/2023</td>
      <td>Nigela Santos</td>
    </tr>
    <tr>
      <!-- <td>46058</td> -->
      <td>20.0000,00</td>
      <td>20/05/2023</td>
      <td>Nigela Santos</td>
    </tr>
  </tbody>
</table>