<h1 mat-dialog-title>Editar Fase</h1>
<form (ngSubmit)="updateFase()" #formDir="ngForm" [formGroup]="updateFaseForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input name="FASE" formControlName="FASE" matInput required [(ngModel)]="updateData.value">
        </mat-form-field>

        <div mat-raised-action class="float-right">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button>Salvar</button>
        </div>
    </div>
</form>