<h1 mat-dialog-title>Detalhes acordo</h1>
<form #formDir="ngForm" style="height: 549px" [formGroup]="viewAcordoForm">
    <div mat-dialog-content>
        <mat-form-field class="mb-3" style="width: 40%">
            <input readonly name="VALOR_ACORDO" formControlName="VALOR_ACORDO" matInput
                [(ngModel)]="acordoDetalhes.VALOR_ACORDO">
        </mat-form-field>

        <textarea readonly style="height: 400px;" class="w-100" rows="10" name="CONDICOES_TENTATIVA_DE_ACORDO"
            formControlName="CONDICOES_TENTATIVA_DE_ACORDO" matInput
            [(ngModel)]="acordoDetalhes.CONDICOES_TENTATIVA_DE_ACORDO"></textarea>

        <div class="float-right">
            <div mat-raised-action>
                <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            </div>
        </div>
    </div>
</form>