<form #formDir="ngForm" [formGroup]="createProcessFisicalPersonForm">
  <li class="process-create-opposingparty__list__item">
    <div class="process-create-opposingparty__list__item--div">
      <p class="sm-text">CPF</p>
      <input style="width: 225px;" type="text" mask="000.000.000-00" [maxlength]="14" placeholder="000.000.000-00" [(ngModel)]="personCPF"
        formControlName="PARTE_CONTRARIA_CPF" (ngModelChange)="onPersonCPFChange()" oninput="teste()"
        class="process-create-opposingparty">

      <p class="sm-text">Nome</p>
      <input type="text" name="NOME" formControlName="PARTE_CONTRARIA_NOME" minlength="10"
        [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_NOME" class="process-create-opposingparty">

      <div class="process-create-opposingparty__list__item--row">
        <!-- <span>
          <p class="sm-text">CPF</p>
          <input type="text" mask="000.000.000-00" [maxlength]="14" placeholder="000.000.000-00" [(ngModel)]="personCPF"
            formControlName="PARTE_CONTRARIA_CPF" (ngModelChange)="onPersonCPFChange()"
            class="process-create-opposingparty">
        </span> -->

        <span>
          <p class="sm-text">RG</p>
          <input type="text" mask="00.000.000-0" [maxlength]="11" placeholder="00.000.000-0" [(ngModel)]="personRG"
            (ngModelChange)="onPersonRGChange()" formControlName="PARTE_CONTRARIA_RG"
            class="process-create-opposingparty">
        </span>
      </div>
    </div>
  </li>

  <li class="process-create-opposingparty__list__item">
    <div class="process-create-opposingparty__list__item--div">
      <p class="sm-text">CEP</p>
      <input type="text" formControlName="PARTE_CONTRARIA_CEP" placeholder="00000-000"
        [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_CEP" class="process-create-opposingparty"
        style="width: 150px;">
      <div class="process-create-opposingparty__list__item--row" style="justify-content: flex-start;">
        <span style="width: 40%;" class="mr-1">
          <p class="sm-text">Endereço</p>
          <input type="text" formControlName="PARTE_CONTRARIA_ENDERECO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_ENDERECO" class="process-create-opposingparty">
        </span>
        <span>
          <p class="sm-text">Número</p>
          <input type="text" formControlName="PARTE_CONTRARIA_NUMERO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_NUMERO" class="process-create-opposingparty">
        </span>

      </div>
      <div class="process-create-opposingparty__list__item--row">
        <span>
          <p class="sm-text">Complemento</p>
          <input type="text" formControlName="PARTE_CONTRARIA_COMPLEMENTO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_COMPLEMENTO" class="process-create-opposingparty">
        </span>
      </div>
    </div>
  </li>

  <li class="process-create-opposingparty__list__item">
    <div class="process-create-opposingparty__list__item--div">
      <div class="process-create-opposingparty__list__item--row" style="justify-content: flex-start;">
        <span class="mr-1">
          <p class="sm-text">Cargo</p>
          <input type="text" formControlName="PARTE_CONTRARIA_CARGO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_CARGO" class="process-create-opposingparty">
        </span>

        <span>
          <p class="sm-text">Ultimo Salário</p>
          <input type="number" formControlName="PARTE_CONTRARIA_ULTIMO_SALARIO" min="0" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_ULTIMO_SALARIO" class="process-create-opposingparty">
        </span>
      </div>
      <div class="process-create-opposingparty__list__item--row" style="justify-content: flex-start;">
        <span class="mr-1">
          <p class="sm-text">Data de admissão</p>
          <input type="date" formControlName="PARTE_CONTRARIA_DATA_ADMISSAO"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_DATA_ADMISSAO" class="process-create-opposingparty">
        </span>

        <span>
          <p class="sm-text">Data de demissão</p>
          <input type="date" formControlName="PARTE_CONTRARIA_DATA_DEMISSAO"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_DATA_DEMISSAO" class="process-create-opposingparty">
        </span>
      </div>
    </div>
  </li>
</form>