<div id="process-area">
  <div class="process-area__body">
    <div id="process-create">
      <form #form="ngForm" style="min-height: 725px;">
        <div class="process-create-header">
          <button class="process-create-header--rbutton" type="button"
            (click)="swapTabs('processdetails')">Processo</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('opposingparty')">Parte
            Contraria</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('deal')">Acordos</button>
          <button class="process-create-header--rbutton" type="button"
            (click)="swapTabs('andamento')">Andamentos</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('previous-patrons')">Patronos
            Anteriores</button>

          <button class="process-create-header--rbutton float-right dropdown"
            style="height: 30px; padding: unset !important;" type="button">
            <button class="process-create-header--rbutton edit-process" style=" border-radius: unset !important;"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg fill="#000000" version="1.1" width="20px" height="20px" viewBox="0 0 342.382 342.382">
                <g>
                  <path d="M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219
                      c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z" />
                </g>
                <g>
                  <path d="M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219
                      c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z" />
                </g>
                <g>
                  <path d="M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219
                      c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z" />
                </g>
              </svg>
              <span class="caret"></span>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" tabindex="-1" [routerLink]="['/editar-processo', ID_PROCESSO]">
                    Editar Processo
                    <span class="caret"></span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" tabindex="-1" [routerLink]="['/log-alteracoes', ID_PROCESSO]">
                    Log de Alterações
                    <span class="caret"></span>
                  </a>
                  <ng-container *ngIf="STATUS != 'Encerrado'">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" tabindex="-1"
                      (click)="openDialogChangeStatus('250ms', '100ms', ID_PROCESSO, 'Encerrado')">
                      Encerrar Processo
                      <span class="caret"></span>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="STATUS == 'Encerrado'">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" tabindex="-1"
                      (click)="openDialogViewStatus('250ms', '100ms', ID_PROCESSO, STATUS)">
                      Motivo Encerramento
                      <span class="caret"></span>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="STATUS == 'Baixa Provisória'">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" tabindex="-1"
                      (click)="openDialogViewStatus('250ms', '100ms', ID_PROCESSO, STATUS)">
                      Motivo Baixa Provisória
                      <span class="caret"></span>
                    </a>
                  </ng-container>
                </li>
              </ul>
            </button>
          </button>
        </div>

        <div class="process-create-body">
          <ng-container [ngSwitch]="componentName">
            <ng-template ngSwitchDefault="'processdetails'">
              <app-process-area-details></app-process-area-details>
            </ng-template>
            <ng-template [ngSwitchCase]="'opposingparty'">
              <app-process-area-opposingparty></app-process-area-opposingparty>
            </ng-template>
            <ng-template [ngSwitchCase]="'deal'">
              <app-process-area-acordo></app-process-area-acordo>
            </ng-template>
            <ng-template [ngSwitchCase]="'andamento'">
              <app-process-area-andamento></app-process-area-andamento>
            </ng-template>
            <ng-template [ngSwitchCase]="'previous-patrons'">
              <app-process-area-previous-patrons></app-process-area-previous-patrons>
            </ng-template>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>