<div id="process-area">
  <div class="process-area__body">
    <div id="process-create">
      <form #form="ngForm" style="min-height: 725px;">
        <div class="process-create-header">
          <button class="process-create-header--rbutton" type="button"
            (click)="swapTabs('processdetails')">Processo</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('opposingparty')">Parte
            Contraria</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('deal')">Acordos</button>
          <button class="process-create-header--rbutton" type="button"
            (click)="swapTabs('andamento')">Andamentos</button>
          <button class="process-create-header--rbutton" type="button" (click)="swapTabs('previous-patrons')">Patronos
            Anteriores</button>

          <button class="process-create-header--rbutton float-right edit-process" style="min-width: 40px !important">
            <svg width="20px" height="20px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
              <g id="out" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <path
                  d="M2.25,12.9378906 L2.25,15.75 L5.06210943,15.75 L13.3559575,7.45615192 L10.5438481,4.64404249 L2.25,12.9378906 L2.25,12.9378906 L2.25,12.9378906 Z M15.5306555,5.28145396 C15.8231148,4.98899458 15.8231148,4.5165602 15.5306555,4.22410082 L13.7758992,2.46934454 C13.4834398,2.17688515 13.0110054,2.17688515 12.718546,2.46934454 L11.3462366,3.84165394 L14.1583461,6.65376337 L15.5306555,5.28145396 L15.5306555,5.28145396 L15.5306555,5.28145396 Z"
                  id="path" fill="#000000" sketch:type="MSShapeGroup">

                </path>
              </g>
            </svg>
          </button>
        </div>
        <div class="process-create-body">
          <ng-container [ngSwitch]="componentName">
            <ng-template ngSwitchDefault="'processdetails'">
              <app-process-area-details></app-process-area-details>
            </ng-template>
            <ng-template [ngSwitchCase]="'opposingparty'">
              <app-process-area-opposingparty></app-process-area-opposingparty>
            </ng-template>
            <ng-template [ngSwitchCase]="'deal'">
              <app-process-area-acordo></app-process-area-acordo>
            </ng-template>
            <ng-template [ngSwitchCase]="'andamento'">
              <app-process-area-andamento></app-process-area-andamento>
            </ng-template>
            <ng-template [ngSwitchCase]="'previous-patrons'">
              <app-process-area-previous-patrons></app-process-area-previous-patrons>
            </ng-template>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>