@import '../../../../styles.scss';
@import '../process-create/process-create.component.scss';

#process-area {
  width: 100%;
  padding: 1rem;
  margin-right: 2rem;
  // box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.025), 0 2px 6px 2px rgba(60, 64, 67, 0.048);

  .process-area__header {
    @include flexCenter(normal, space-between, row);

    button{
      width: auto;
    }

    div {
      width: 20px;

      svg {
        fill: #000;
      }
    }

  }

  .main-info {
    border: 1px solid rgba(60, 64, 67, 0.170)
  }
}