<h1 mat-dialog-title>Editar Tipo de andamento</h1>
<form (ngSubmit)="updateTipoDeAndamentos()" #formDir="ngForm" [formGroup]="updateTipoDeAndamentoForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input name="TIPO_DE_ANDAMENTO" formControlName="TIPO_DE_ANDAMENTO" matInput required [(ngModel)]="updateData.value">
        </mat-form-field>

        <div mat-raised-action class="float-right">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button>Salvar</button>
        </div>
    </div>
</form>
