<h1 mat-dialog-title>Criar ParteContraria</h1>
<div class="process-create-opposingparty mt-3">
    <h3>Parte Contrária</h3>
    <ul class="process-create-opposingparty__list" class="mt-2">
        <li class="process-create-opposingparty__list__item mb-2">
            <div class="process-create-opposingparty__list__item--div">
                <p class="sm-text">Relação jurídica</p>
            </div>
            <div class="process-create-opposingparty__list__item--div">
                <select name="EMPRESA" class="process-create-processdetails--input-select">
                    <option value="0" (click)="swapTabs('fisical-person')">Fornecedor / Ex-fornecedor / Cliente /
                        Ex-cliente
                    </option>
                    <option value="1" (click)="swapTabs('legal-person')">Funcionário / Ex-funcionário</option>
                </select>
            </div>
        </li>

        <ng-container [ngSwitch]="componentName">
            <ng-template ngSwitchDefault="'fisical-person'">
                <form (ngSubmit)="createParteContrariaFisical()" #formDir="ngForm"
                    [formGroup]="createParteContrariaFisicalForm">
                    <div mat-dialog-content>
                        <mat-form-field>
                            <span class="sm-text">Nome</span>
                            <input name="NOME" formControlName="NOME" matInput
                                [(ngModel)]="createParteContrariaRequest.NOME">
                        </mat-form-field>

                        <div class="--div">
                            <div class="--row">
                                <mat-form-field>
                                    <span class="sm-text">CPF</span>
                                    <input type="text" mask="000.000.000-00" placeholder="000.000.000-00"
                                        [maxlength]="14" matInput [(ngModel)]="createParteContrariaRequest.CPF"
                                        (ngModelChange)="onPersonCPFChange()" name="CPF" formControlName="CPF">
                                </mat-form-field>

                                <mat-form-field>
                                    <span class="sm-text">RG</span>
                                    <input type="text" mask="00.000.000-0" placeholder="00.000.000-0" [maxlength]="12"
                                        matInput [(ngModel)]="createParteContrariaRequest.RG"
                                        (ngModelChange)="onPersonRGChange()" name="RG" formControlName="RG">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field style="width: 30%">
                            <span class="sm-text">CEP</span>
                            <input name="CEP" placeholder="0000-000" formControlName="CEP" matInput
                                [(ngModel)]="createParteContrariaRequest.CEP">
                        </mat-form-field>

                        <div class="--div">
                            <div class="--row">
                                <mat-form-field>
                                    <span class="sm-text">Enderço</span>
                                    <input name="ENDERECO" formControlName="ENDERECO" matInput
                                        [(ngModel)]="createParteContrariaRequest.ENDERECO">
                                </mat-form-field>

                                <mat-form-field style="width: 35%;">
                                    <span class="sm-text">Número</span>
                                    <input name="NUMERO" formControlName="NUMERO" matInput
                                        [(ngModel)]="createParteContrariaRequest.NUMERO">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field>
                            <span class="sm-text">Complemento</span>
                            <input name="COMPLEMENTO" formControlName="COMPLEMENTO" matInput
                                [(ngModel)]="createParteContrariaRequest.COMPLEMENTO">
                        </mat-form-field>

                        <div>
                            <div class="--div">
                                <div class="--row">
                                    <mat-form-field>
                                        <span class="sm-text">Cargo</span>
                                        <input name="CARGO" formControlName="CARGO" matInput
                                            [(ngModel)]="createParteContrariaRequest.CARGO">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <span class="sm-text">Ultimo salário</span>
                                        <input name="ULTIMO_SALARIO" formControlName="ULTIMO_SALARIO" matInput
                                            [(ngModel)]="createParteContrariaRequest.ULTIMO_SALARIO">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="--div">
                                <div class="--row" style="justify-content: flex-start !important">
                                    <mat-form-field style="width: auto;">
                                        <span class="sm-text">Data admissão</span>
                                        <input name="DATA_ADMISSAO" type="date" formControlName="DATA_ADMISSAO" matInput
                                            [(ngModel)]="createParteContrariaRequest.DATA_ADMISSAO">
                                    </mat-form-field>

                                    <mat-form-field style="width: auto;">
                                        <span class="sm-text">Data demissão</span>
                                        <input name="DATA_DEMISSAO" type="date" formControlName="DATA_DEMISSAO" matInput
                                            [(ngModel)]="createParteContrariaRequest.DATA_DEMISSAO">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div mat-raised-action class="float-right">
                            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
                            <button mat-button type="submit">Adicionar</button>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template [ngSwitchCase]="'legal-person'">
                <form (ngSubmit)="createParteContrariaLegal()" #formDir="ngForm"
                    [formGroup]="createParteContrariaLegalForm">
                    <div mat-dialog-content>
                        <mat-form-field>
                            <span class="sm-text">Nome</span>
                            <input name="NOME" formControlName="NOME" matInput
                                [(ngModel)]="createParteContrariaRequest.NOME">
                        </mat-form-field>

                        <div class="--div">
                            <div class="--row">
                                <mat-form-field>
                                    <span class="sm-text">Nome Fantasia</span>
                                    <input type="text" matInput [(ngModel)]="createParteContrariaRequest.NOME_FANTASIA"
                                        name="NOME_FANTASIA" formControlName="NOME_FANTASIA">
                                </mat-form-field>

                                <mat-form-field>
                                    <span class="sm-text">CNPJ</span>
                                    <input type="text" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00"
                                        [maxlength]="18" matInput [(ngModel)]="createParteContrariaRequest.CNPJ"
                                        (ngModelChange)="onPersonCNPJChange()" name="CNPJ" formControlName="CNPJ">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field style="width: 30%">
                            <span class="sm-text">CEP</span>
                            <input name="CEP" placeholder="0000-000" formControlName="CEP" matInput
                                [(ngModel)]="createParteContrariaRequest.CEP">
                        </mat-form-field>

                        <div class="--div">
                            <div class="--row">
                                <mat-form-field>
                                    <span class="sm-text">Enderço</span>
                                    <input name="ENDERECO" formControlName="ENDERECO" matInput
                                        [(ngModel)]="createParteContrariaRequest.ENDERECO">
                                </mat-form-field>

                                <mat-form-field style="width: 35%;">
                                    <span class="sm-text">Número</span>
                                    <input name="NUMERO" formControlName="NUMERO" matInput
                                        [(ngModel)]="createParteContrariaRequest.NUMERO">
                                </mat-form-field>

                                <mat-form-field>
                                    <span class="sm-text">Complemento</span>
                                    <input name="COMPLEMENTO" formControlName="COMPLEMENTO" matInput
                                        [(ngModel)]="createParteContrariaRequest.COMPLEMENTO">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="--div">
                            <div class="--row">
                                <mat-form-field>
                                    <span class="sm-text">Estado</span>
                                    <input name="ESTADO" formControlName="ESTADO" matInput
                                        [(ngModel)]="createParteContrariaRequest.ESTADO">
                                </mat-form-field>

                                <mat-form-field style="width: 35%;">
                                    <span class="sm-text">Cidade</span>
                                    <input name="CIDADE" formControlName="CIDADE" matInput
                                        [(ngModel)]="createParteContrariaRequest.CIDADE">
                                </mat-form-field>

                                <mat-form-field>
                                    <span class="sm-text">Pais</span>
                                    <input name="PAIS" formControlName="PAIS" matInput
                                        [(ngModel)]="createParteContrariaRequest.PAIS">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field>
                            <span class="sm-text">Observação</span>
                            <textarea name="OBSERVACAO" matInput formControlName="OBSERVACAO"
                                [(ngModel)]="createParteContrariaRequest.OBSERVACAO" rows="10"
                                class="process-create-processdetails w-100"></textarea>
                        </mat-form-field>

                        <div mat-raised-action class="float-right">
                            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
                            <button mat-button type="submit">Adicionar</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ng-container>
    </ul>
</div>