<h1 mat-dialog-title>Remover Vara</h1>
<form (ngSubmit)="deleteVara()" #formDir="ngForm">
    <div mat-dialog-content>
        <mat-form-field>
            <p class="sm-text">Vara</p>
            <input matInput disabled [value]="removeData.value">
        </mat-form-field>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button>Remover</button>
        </div>
    </div>
</form>