<h1 mat-dialog-title>Criar Vara</h1>
<form (ngSubmit)="createVara()" #formDir="ngForm" [formGroup]="createVaraForm">
    <div mat-dialog-content>
        <mat-form-field>
            <p class="sm-text">Vara</p>
            <input name="VARA" formControlName="VARA" matInput required [(ngModel)]="createVaraRequest.VARA">
        </mat-form-field>
        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit">Adicionar</button>
        </div>
    </div>
</form>