<!-- d-flex align-items-center justify-content-center -->

<div class="col-12 h-100 container d-flex align-items-center justify-content-center">
  <div class="row align-items-start bg-white">
    <div class="">
      <div class="row mt-1">
        <p class="sm-text text-left">Usuário</p>
        <input type="text" name="" id="" class="input w-100">
      </div>
      <div class="row mt-1">
        <p class="sm-text">Senha</p>
        <input type="password" name="" id="" class="input w-100">
      </div>
      <div class="row mt-1">
        <button class="btn-default" routerLink="/painel-processos" type="submit">Logar</button>
      </div>
    </div>
  </div>
</div>