<div class="col-12 h-100 container d-flex align-items-center justify-content-center">
  <div class="bg-white p-4 login-container">
    <form (ngSubmit)="login()" #formDir="ngForm" [formGroup]="loginForm">

      <div class="form-outline mb-4">
        <p class="sm-text">Usuário</p>
        <input type="text" [(ngModel)]="requestUsuario.NOME_USUARIO" formControlName="NOME_USUARIO"
          class="form-control sm-text" />
      </div>

      <div class="form-outline mb-4">
        <p class="sm-text">Senha</p>
        <input type="password" [(ngModel)]="requestUsuario.SENHA" formControlName="SENHA" class="form-control" />
      </div>

      <button type="submit" class="btn-default w-100">Logar</button>
    </form>
  </div>
</div>