<!-- d-flex align-items-center justify-content-center -->

<div class="col-12 h-100 container d-flex align-items-center justify-content-center">
  <div class="bg-white p-4 login-container">
    <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <p class="sm-text">Usuário</p>
        <input type="email" class="form-control sm-text" />
      </div>
      
      <!-- Password input -->
      <div class="form-outline mb-4">
        <p class="sm-text">Senha</p>
        <input type="password" class="form-control" />
      </div>

      <!-- Submit button -->
      <button type="button" class="btn-default w-100">Logar</button>
    </form>
  </div>
</div>