<div class="process-create-opposingparty">
  <h3>Parte Contrária</h3>
  <ul class="process-create-opposingparty__list">
    <label class="mb-2 process-create-checkbox w-100 d-flex align-items-center" for="checkBox">
      <input type="checkbox" #checkBox disabled id="checkBox" style="width: 15px;">
      <p class="mx-1 sm-text">
        Funcionário / Ex-funcionário
      </p>
    </label>

    <!-- <ng-container ngIf="checkBox.!checked; else elseBlock"> -->
    <ng-container>
      <li class="process-create-opposingparty__list__item">
        <div class="process-create-opposingparty__list__item--div">
          <p class="sm-text">Nome</p>
          <input type="text" name="PARTE_CONTRARIA_NOME" disabled inlength="10"
            [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_NOME" class="process-create-opposingparty--name">

          <div class="process-create-opposingparty__list__item--row">
            <span style="width: 60%">
              <p class="sm-text">Nome Fantasia</p>
              <input type="text" name="PARTE_CONTRARIA_NOME" disabled
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_NOME_FANTASIA" class="process-create-opposingparty">
            </span>

            <span>
              <p class="sm-text">CNPJ</p>
              <input type="text" disabled name="PARTE_CONTRARIA_CNPJ"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_CNPJ" class="process-create-opposingparty">
            </span>
          </div>
        </div>
      </li>
      <li class="process-create-opposingparty__list__item">
        <div class="process-create-opposingparty__list__item--div">
          <p class="sm-text">CEP</p>
          <input type="text" disabled name="PARTE_CONTRARIA_CEP" aceholder="00000-000"
            [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_CEP" class="process-create-opposingparty--zipcode"
            style="width: 150px;">
          <div class="process-create-opposingparty__list__item--row">
            <span style="width: 40%;">
              <p class="sm-text">Endereço</p>
              <input type="text" disabled name="PARTE_CONTRARIA_ENDERECO" placeholder=""
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_ENDERECO" class="process-create-opposingparty--adress">
            </span>
            <span>
              <p class="sm-text">Número</p>
              <input type="text" disabled name="PARTE_CONTRARIA_NUMERO"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_NUMERO" class="process-create-opposingparty-adressnumber">
            </span>

            <span>
              <p class="sm-text">Complemento</p>
              <input type="text" disabled name="PARTE_CONTRARIA_COMPLEMENTO" placeholder=""
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_COMPLEMENTO"
                class="process-create-opposingparty--adresscomplement">
            </span>
          </div>
        </div>
      </li>

      <li class="process-create-processdetails__list__item">
        <div class="process-create-processdetails__list__item--div">
          <div class="process-create-processdetails__list__item--row">
            <span>
              <p class="sm-text">Estado</p>
              <input type="text" disabled name="PARTE_CONTRARIA_ESTADO"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_ESTADO" class="process-create-processdetails">
            </span>

            <span class="mx-1">
              <p class="sm-text">Cidade</p>
              <input type="text" disabled name="PARTE_CONTRARIA_CIDADE"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_CIDADE" class="process-create-processdetails">
            </span>

            <span>
              <p class="sm-text">Pais</p>
              <input type="text" disabled name="PARTE_CONTRARIA_PAIS"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_PAIS" class="process-create-processdetails">
            </span>
          </div>
          <span>
            <p class="sm-text">Observação</p>
            <textarea disabled name="PARTE_CONTRARIA_OBSERVACAO"
              [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_OBSERVACAO" rows="10"
              class="process-create-processdetails w-100"></textarea>
          </span>
        </div>
      </li>
    </ng-container>

    <ng-template>
      <li class="process-create-opposingparty__list__item">
        <div class="process-create-opposingparty__list__item--div">
          <p class="sm-text">Nome</p>
          <input type="text" name="NOME" disabled inlength="10"
            [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_NOME" class="process-create-opposingparty--name">

          <div style="width: 60%;" class="process-create-opposingparty__list__item--row">
            <span>
              <p class="sm-text">CPF</p>
              <input type="text" disabled aceholder="000.000.000-00"
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_CPF" class="process-create-opposingparty--id">
            </span>

            <span>
              <p class="sm-text">RG</p>
              <input type="text" disabled ceholder="00.000.000-0" [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_RG"
                class="process-create-opposingparty--rg">
            </span>
          </div>
        </div>
      </li>

      <li class="process-create-opposingparty__list__item">
        <div class="process-create-opposingparty__list__item--div">
          <p class="sm-text">CEP</p>
          <input type="text" disabled aceholder="00000-000" [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_CEP"
            class="process-create-opposingparty--zipcode">
          <div class="process-create-opposingparty__list__item--row">
            <span style="width: 40%;">
              <p class="sm-text">Endereço</p>
              <input type="text" disabled placeholder="" [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_ENDERECO"
                class="process-create-opposingparty--adress">
            </span>
            <span>
              <p class="sm-text">Número</p>
              <input type="text" disabled [(ngModel)]=" processoDetalhes.PARTE_CONTRARIA_NUMERO"
                class="process-create-opposingparty-adressnumber">
            </span>

            <span>
              <p class="sm-text">Complemento</p>
              <input type="text" disabled placeholder=""
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_COMPLEMENTO"
                class="process-create-opposingparty--adresscomplement">
            </span>
          </div>
        </div>
      </li>

      <li class="process-create-opposingparty__list__item">
        <div class="process-create-opposingparty__list__item--div">
          <div class="process-create-opposingparty__list__item--row">
            <span>
              <p class="sm-text">Cargo</p>
              <input type="text" disabled [(ngModel)]=" processoDetalhes.PARTE_CONTRARIA_CARGO"
                class="process-create-opposingparty">
            </span>

            <span>
              <p class="sm-text">Ultimo Salário</p>
              <input type="number" disabled min="0" placeholder=""
                [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_ULTIMO_SALARIO" class="process-create-opposingparty">
            </span>

            <span>
              <p class="sm-text">Data de admissão</p>
              <input type="date" disabled [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_DATA_ADMISSAO"
                class="process-create-opposingparty">
            </span>

            <span>
              <p class="sm-text">Data de demissão</p>
              <input type="date" disabled [(ngModel)]="processoDetalhes.PARTE_CONTRARIA_DATA_DEMISSAO"
                class="process-create-opposingparty">
            </span>
          </div>
        </div>
      </li>
    </ng-template>
  </ul>
</div>