<h1 mat-dialog-title>Editar Foro/Tribunal/Orgão</h1>
<form (ngSubmit)="updateForoTribunalOrgaos()" #formDir="ngForm" [formGroup]="updateForoTribunalOrgaoForm">
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <p class="sm-text">Foro/Tribunal/Orgão</p>
                <input name="ForoTribunalOrgao" formControlName="ForoTribunalOrgao" matInput required
                    [(ngModel)]="updateData.value">
            </mat-form-field>
        </div>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit" class="btn-default" [disabled]="!updateForoTribunalOrgaoForm.valid"
                [ngClass]="{'btn-disabled': !updateForoTribunalOrgaoForm.valid}">Salvar</button>
        </div>
    </div>
</form>