@import '../../../styles.scss';

.mat-mdc-form-field {
    width: 100%;
    min-height: 35px;
    border-radius: 2px;
    border: 1px solid rgba(60, 64, 67, 0.5);
}

input {
    @extend .input;
    width: 100% !important;
}

tbody tr {
    &:hover {
        cursor: default !important;
    }
}

h1 {
    padding: 0 24px 9px 24px;
}

input {
    height: 35px !important;
    font-size: 1rem !important;
}

button {
    margin-top: 0.75rem;
    padding: 10px;
    color: black;
    cursor: pointer;
    text-align: center;
    border-radius: 4.5px;
    background-color: #f6f7fb;
    border: 1px solid #ededed;
}

svg {
    &:hover {
        cursor: pointer;
    }
}