<h1 mat-dialog-title>Editar PatronoResponsavel</h1>
<form (ngSubmit)="updatePatronoResponsavel()" #formDir="ngForm" [formGroup]="updatePatronoResponsavelForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input name="PATRONORESPONSAVEL" formControlName="PATRONORESPONSAVEL" matInput required
                [(ngModel)]="updateData.value">
        </mat-form-field>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-buttonclass="btn-default" [disabled]="!updatePatronoResponsavelForm.valid"
                [ngClass]="{'btn-disabled': !updatePatronoResponsavelForm.valid}">Salvar</button>
        </div>
    </div>
</form>