<form #formDir="ngForm" [formGroup]="createProcessLegalPersonForm">
  <li class="process-create-opposingparty__list__item">
    <div class="process-create-opposingparty__list__item--div">
      <p class="sm-text">Nome</p>
      <input type="text" name="PARTE_CONTRARIA_NOME" formControlName="PARTE_CONTRARIA_NOME"
        [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_NOME" class="process-create-opposingparty--name">

      <div class="process-create-opposingparty__list__item--row">
        <span style="width: 60%">
          <p class="sm-text">Nome Fantasia</p>
          <input type="text" name="PARTE_CONTRARIA_NOME_FANTASIA" formControlName="PARTE_CONTRARIA_NOME_FANTASIA"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_NOME_FANTASIA" class="process-create-opposingparty">
        </span>

        <span>
          <p class="sm-text">CNPJ</p>
          <input type="text" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" [maxlength]="18" [(ngModel)]="personCNPJ"
            name="PARTE_CONTRARIA_CNPJ" formControlName="PARTE_CONTRARIA_CNPJ" (ngModelChange)="onPersonCNPJChange()"
            class="process-create-opposingparty">
        </span>
      </div>
    </div>
  </li>
  <li class="process-create-opposingparty__list__item">
    <div class="process-create-opposingparty__list__item--div">
      <p class="sm-text">CEP</p>
      <input type="text" name="CEP" formControlName="PARTE_CONTRARIA_CEP" placeholder="00000-000"
        [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_CEP" class="process-create-opposingparty"
        style="width: 150px;">
      <div class="process-create-opposingparty__list__item--row">
        <span style="width: 40%;">
          <p class="sm-text">Endereço</p>
          <input type="text" name="PARTE_CONTRARIA_ENDERECO" formControlName="PARTE_CONTRARIA_ENDERECO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_ENDERECO" class="process-create-opposingparty--adress">
        </span>
        <span>
          <p class="sm-text">Número</p>
          <input type="text" name="PARTE_CONTRARIA_NUMERO" formControlName="PARTE_CONTRARIA_NUMERO" placeholder=""
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_NUMERO"
            class="process-create-opposingparty-adressnumber">
        </span>

        <span>
          <p class="sm-text">Complemento</p>
          <input type="text" name="PARTE_CONTRARIA_COMPLEMENTO" formControlName="PARTE_CONTRARIA_COMPLEMENTO"
            placeholder="" [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_COMPLEMENTO"
            class="process-create-opposingparty--adresscomplement">
        </span>
      </div>
    </div>
  </li>

  <li class="process-create-processdetails__list__item">
    <div class="process-create-processdetails__list__item--div">
      <div class="process-create-processdetails__list__item--row">
        <span>
          <p class="sm-text">Estado</p>
          <input type="text" name="PARTE_CONTRARIA_ESTADO" formControlName="PARTE_CONTRARIA_ESTADO"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_ESTADO" class="process-create-processdetails">
        </span>

        <span class="mx-1">
          <p class="sm-text">Cidade</p>
          <input type="text" name="PARTE_CONTRARIA_CIDADE" formControlName="PARTE_CONTRARIA_CIDADE"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_CIDADE" class="process-create-processdetails">
        </span>

        <span>
          <p class="sm-text">Pais</p>
          <input type="text" name="PARTE_CONTRARIA_PAIS" formControlName="PARTE_CONTRARIA_PAIS"
            [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_PAIS" class="process-create-processdetails">
        </span>
      </div>
      <span>
        <p class="sm-text">Observação</p>
        <textarea name="PARTE_CONTRARIA_OBSERVACAO" formControlName="PARTE_CONTRARIA_OBSERVACAO"
          [(ngModel)]="createProcessResquest.PARTE_CONTRARIA_OBSERVACAO" rows="10"
          class="process-create-processdetails w-100"></textarea>
      </span>
    </div>
  </li>
</form>