<h1 mat-dialog-title>Criar Tipo de andamento</h1>
<form (ngSubmit)="createTipoDeAndamento()" #formDir="ngForm" [formGroup]="createTipoDeAndamentoForm">
    <div mat-dialog-content>
        <mat-form-field>
            <p class="sm-text">Tipo de andamento</p>
            <input name="TIPO_DE_ANDAMENTO" formControlName="TIPO_DE_ANDAMENTO" matInput required [(ngModel)]="createTipoDeAndamentoRequest.TIPO_DE_ANDAMENTO">
        </mat-form-field>   

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit" class="btn-default" [disabled]="!createTipoDeAndamentoForm.valid"
            [ngClass]="{'btn-disabled': !createTipoDeAndamentoForm.valid}">Adicionar</button>
        </div>
    </div>
</form>
