<h1 mat-dialog-title>Adicionar Acordo</h1>
<form (ngSubmit)="createAcordo()" #formDir="ngForm" [formGroup]="createAcordoForm">
    <div mat-dialog-content>
        <mat-form-field>
            <span class="sm-text">Valor acordo</span>
            <input style="width: 40% !important" class="mb-2 row-item" name="VALOR_ACORDO"
                formControlName="VALOR_ACORDO" mask="separator.2" thousandSeparator="." matInput required
                [(ngModel)]="createAcordoRequest.VALOR_ACORDO">
        </mat-form-field>

        <mat-form-field>
            <span class="sm-text">Tentativas de acordo</span>
            <textarea style="height: 400px;" class="w-100" rows="10" name="CONDICOES_TENTATIVA_DE_ACORDO"
                formControlName="CONDICOES_TENTATIVA_DE_ACORDO" matInput required
                [(ngModel)]="createAcordoRequest.CONDICOES_TENTATIVA_DE_ACORDO"></textarea>
        </mat-form-field>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit" class="btn-default" [disabled]="!createAcordoForm.valid"
                [ngClass]="{'btn-disabled': !createAcordoForm.valid}">Adicionar</button>
        </div>
    </div>
</form>