<div class="process-create-processdetails">
  <table class="table table-borderless">
    <thead>
      <tr>
        <!-- <th scope="col">Protocol</th> -->
        <th scope="col">Tipo de andamento</th>
        <th scope="col">Data do Andamento</th>
        <th scope="col">Data/Hora</th>
        <th scope="col">Anexo</th>
        <th scope="col">Aberto Por</th>
        <!-- <th scope="col">Condições da tentativa de acordo</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Recebimento de Citação</td>
        <td>20/05/2023</td>
        <td>10/05/2023</td>
        <td></td>
        <td>Nigela Santos</td>
      </tr>
      <tr>
        <td>Recebimento de Citação</td>
        <td>20/05/2023</td>
        <td>10/05/2023</td>
        <td></td>
        <td>Nigela Santos</td>
      </tr>
      <tr>
        <td>Recebimento de Citação</td>
        <td>20/05/2023</td>
        <td>10/05/2023</td>
        <td></td>
        <td>Nigela Santos</td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- <ul class="process-create-processdetails__list">
    <li class="process-create-processdetails__list__item">
      <p class="sm-text">Tipo de andamento</p>
      <select disabled name="" class="process-searchbar__list__item--input-select">
        <option value="" selected></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </li>
  
    <li class="process-create-processdetails__list__item">
  
      <div class="process-create-opposingparty__list__item--div">
        <p class="sm-text">Andamento</p>
        <input type="text" name="" disabled>
      </div>
  
      <div class="process-create-processdetails__list__item--div">
        <div class="process-create-processdetails__list__item--row">
          <span>
            <p class="sm-text">Responsável pelo cadastro</p>
          </span>
  
          <span>
            <p class="sm-text">Tipo de Ação</p>
          </span>
  
          <span>
            <p class="sm-text">Área do Direito</p>
            <select disabled name="" id="selectProcessArea" class="process-searchbar__list__item--input-select">
              <option value="Área do Processo" selected></option>
              <option value="Trabalhista">Trabalhista</option>
              <option value="Consumidor">Consumidor</option>
              <option value="Cível">Cível</option>
              <option value="Tributário">Tributário</option>
              <option value="Societário">Societário</option>
            </select>
          </span>
  
          <span>
            <p class="sm-text">Âmbito</p>
            <select disabled name="" class="process-searchbar__list__item--input-select">
              <option value="ProcessPhase" selected></option>
              <option value="Pré Processual">Administradivo</option>
              <option value="Judicial">Judicial</option>
              <option value="Pré Judicial">Pré Judicial</option>
            </select>
          </span>
        </div>
      </div>
    </li>
  
  </ul> -->