@import '../../../../../../styles.scss';
@import '../../../../management/management.componnent.scss';

select {
    @extend .input;
}

textarea {
    resize: none;
}

div {
    p {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block ruby;
    }
}

svg {
    &:hover>path {
        fill: red;
    }
}