<h1 style="padding: 0 24px;" mat-dialog-title>Detalhes andamento</h1>
<form #formDir="ngForm">
    <div mat-dialog-content>
        <select class="process-searchbar__list__item--input-select mb-2" name="TIPO_DE_ANDAMENTO"
            [(ngModel)]="andamentoDetalhes.TIPO_DE_ANDAMENTO" disabled matInput>
            <option value="{{andamentoDetalhes.TIPO_DE_ANDAMENTO}}">
                {{andamentoDetalhes.TIPO_DE_ANDAMENTO}}</option>
        </select>

        <textarea style="height: 400px;" class="w-100" rows="10" name="DESC_ANDAMENTO" disabled matInput
            [(ngModel)]="andamentoDetalhes.DESC_ANDAMENTO"></textarea>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
        </div>
    </div>
</form>