<div class="process-create-processdetails">
  <input type="text" placeholder="Status" class="process-create-processdetails">
  <input type="text" placeholder="Tipo de Ação" class="process-create-processdetails">
  <input type="text" placeholder="Área do Direito" class="process-create-processdetails">
  <input type="text" placeholder="Âmbito" class="process-create-processdetails">
  <input type="text" placeholder="Estado" class="process-create-processdetails">
  <input type="text" placeholder="Cidade" class="process-create-processdetails">
  <input type="text" placeholder="Pais" class="process-create-processdetails">
  <input type="text" placeholder="Vara" class="process-create-processdetails">
  <input type="text" placeholder="Foro/Tributario/Orgão" class="process-create-processdetails">
  <input type="text" placeholder="Fase" class="process-create-processdetails">
  <input type="text" placeholder="Data de Distribuição" class="process-create-processdetails">
  <input type="text" placeholder="Data da Citação" class="process-create-processdetails">
  <input type="text" placeholder="Patrono responsável" class="process-create-processdetails">
  <input type="text" placeholder="Patronos anteriores" class="process-create-processdetails">
  <input type="text" placeholder="Texto do objeto" class="process-create-processdetails">
  <input type="text" placeholder="Valor do Pedido" class="process-create-processdetails">
  <input type="text" placeholder="Valor 1ª Instância" class="process-create-processdetails">
  <input type="text" placeholder="Valor 2ª Instância" class="process-create-processdetails">
  <input type="text" placeholder="Valor 3ª Instância" class="process-create-processdetails">
  <input type="text" placeholder="Valor Instância Extraordinária" class="process-create-processdetails">
  <input type="text" placeholder="Data de cadastro do processo" class="process-create-processdetails">
  <input type="text" placeholder="Data do último andamento" class="process-create-processdetails">
  <input type="text" placeholder="Último andamento" class="process-create-processdetails">
  <input type="text" placeholder="Data do encerramento" class="process-create-processdetails">
  <input type="text" placeholder="Motivo do encerramento(Vinculado ao status Encerrado)"
    class="process-create-processdetails">
  <input type="text" placeholder="Motivo da baixa provisória (Vinculado ao status Baixa Provisória)"
    class="process-create-processdetails">
</div>