<h1 style="padding: 0 24px;" mat-dialog-title>Finalizar Processo</h1>
<form #formDir="ngForm" [formGroup]="finishProcessForm">
    <div mat-dialog-content>
        <mat-form-field class="w-100">
            <div style="display: grid;">
                <span class="sm-text">Motivo</span>
                <textarea style="height: 400px;" class="w-100 border" rows="10" name="MOTIVO_ENCERRAMENTO"
                    formControlName="MOTIVO_ENCERRAMENTO" matInput required
                    [(ngModel)]="finishProcessRequest.MOTIVO_ENCERRAMENTO"></textarea>
            </div>
        </mat-form-field>

        <div mat-raised-action class="float-right" style="padding: 0 16px;">
            <button mat-button mat-dialog-close class="mr-2">Fechar</button>
            <button mat-button type="submit" class="btn-default" [disabled]="!finishProcessForm.valid"
                [ngClass]="{'btn-disabled': !finishProcessForm.valid}">Encerrar</button>
        </div>
    </div>
</form>